<h3><i class="fas fa-book-reader"></i>StroyBookx</h3>
<div class="section">
    <p class="lead">Create public and private stroies from your life</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google-left"></i>login width google
    </a>
</div>